.material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
}
.material-icons_touchable {
  opacity: 0.5;
  cursor: pointer;
}
.material-icons_touchable:hover {
  opacity: 1;
  text-decoration: none;
}
.material-icons_touchable:active {
  opacity: 0.5;
}

select, label {
  cursor: pointer;
}
body .custom-select {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
body .custom-select:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
