html, body {
  height: 100%;
}
.body-wrapper {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}

.min-height {
  min-height: 18em;
}

body .datepicker {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
body .datepicker:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.login-form {
  max-width: 400px;
  min-width: 250px;
  margin: auto;
}
